html {
    font-family:  sans-serif;
    background-color: #929292;
}

body{
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #FF9500;
    padding: 10px 20px 20px 20px;
    border: 5px solid black;
}

#info{
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 320px;
}

#info #name{
    width: 400px;
    height: 280px;
    padding-top: 20px;
}

#info #name #nickname{
    display: block;
    padding-left: 20px;
    font-size: 25px;
}

#info #name ul{
    display: block;
    padding-left: 20px;
    font-size: 20px;
    line-height: 50px;
}

#info #name ul li{
    list-style: none;
}

li img{
    margin-right: 20px;
    transform: translateY(8px);
}

#headphoto{
    display: flex;
    justify-content: left;
    width: 300px;
    height: 300px;
}

p{
    font-size: 20px;
    text-align: justify;
}

.projects{
    width: 100%;
}

.line{
    width: 96%;
    height: 2px;
    background-color: brown;
}

.itemul{
    list-style: decimal;
    font-size: 20px;
}

